body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: pink;
  margin-top: 100px;
}

h1 {
  color: red;
}

p {
  font-size: 16px;
}

input {
  margin: 5px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  margin: 12px;
  padding: 6px 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#history {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

#history h3 {
  margin-bottom: 5px;
}

#historyList {
  list-style-type: none;
  padding: 0;
}
